export AWS_PROFILE=tech
export AWS_DEFAULT_REGION=us-west-2

if [[ `stat -f .venv` ]]; then virtualenv .venv; fi
source .venv/bin/activate 2>&1 > /dev/null
pip install -r requirements.txt 2>&1 > /dev/null
